<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.ItemDao">

	<!-- 插入商品 -->
	<insert id="save" parameterType="Item" useGeneratedKeys="true" keyProperty="id">
		insert into sc_item (
		userid, code, title, weight, description)
		values (
		#{userid}, #{code}, #{title}, #{weight}, #{description})
	</insert>
	
	<!-- 商品 -->
	<resultMap id="itemDetailMap" type="Item">
		<result property="id" column="id" />
		<result property="userid" column="userid" />
		<result property="code" column="code" />
		<result property="title" column="title" />
		<result property="weight" column="weight" />
		<result property="description" column="description" />
		<collection property="tbItemMapping" column="id" javaType="ArrayList" ofType="ItemMapping" select="related"/>  
	</resultMap>
	
	<!-- 查询单个商品 -->
	<select id="get" parameterType="int" resultType="Item">
		select id, code, userid as userid, title, description
		from sc_item
		where id=#{id}
	</select>
	
	
	<!-- 获取用户商品总数 -->
	<select id="getTotalResults" parameterType="long" resultType="long">
		select count(1) from sc_item where userid=#{userId}
	</select>
	
	<!-- 获取用户商品列表 -->
	<select id="getItems" parameterType="map" resultMap="itemDetailMap">
		select id, userid, code, title, weight, description
		from sc_item a 
		where userid=#{userId} limit #{start},#{offset}
	</select>

	<!-- 解除关联淘宝商品 -->
	<delete id="unRelate">
		delete from sc_item_mapping	where item_id=#{0} and num_iid=#{1} and sku_id = #{2}
	</delete>
	
	<!--获取淘宝商品已关联的商品ID -->
	<select id="getRelatedItemId" resultType="long">
		select item_id from sc_item_mapping
		where num_iid = #{0} and sku_id = #{1}
	</select>
	
	<!-- 查询已关联的淘宝商品 -->
	<select id="related" parameterType="long" resultType="map">
		select tb_item_id as id, tb_item_title as title, tb_item_detailurl as detailurl
		from sc_item_mapping
		where item_id = #{id}
	</select>	
	
	<!-- 删除商品 -->
	<delete id="delete" parameterType="int">
	     delete from sc_item where id=#{id}
	</delete>
	
</mapper> 
