<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graby.store.dao.mybatis.ShipOrderDao">

	<delete id="deleteOrder" parameterType="long">
	    delete from sc_ship_order where id=#{id}
	</delete>

	<delete id="deleteDetailByOrderId" parameterType="long">
	    delete from sc_ship_order_detail where order_id=#{orderId}
	</delete>
		
	<delete id="deleteDetail" parameterType="long">
	    delete from sc_ship_order_detail where id=#{id}
	</delete>
	
	<!-- 发送入库单 -->
	<update id="sendEntryOrder" parameterType="long"> 
        update sc_ship_order set status='ENTRY_WAIT_STORAGE_RECEIVED'
        where id=#{id}
    </update>
    
	<update id="setOrderStatus"> 
        update sc_ship_order set status=#{1}
        where id=#{0}
    </update>    
    
    <!-- 根据淘宝交易号查询出货单 -->
    <select id="getShipOrderByTid" resultType="ShipOrder">
		select b.tid, a.express_company as "expressCompany", a.express_orderno as "expressOrderno"  from sc_ship_order a
		left join sc_trade_mapping b on a.trade_id = b.trade_id
		where b.tid=#{0}
	</select>
	
    <!-- 查询在途入库单 -->
  	<select id="findEntryOrderOnWay" resultType="ShipOrder">
		SELECT b.id as "createUser.id" , b.shop_name as "createUser.shopName", 
		a.id, a.express_orderno as expressOrderno, a.centro_id as centroId,
		a.express_company as expressCompany, a.orderno, a.totalnum, a.fetch_date as "fetchDate"
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='entry' and a.status='ENTRY_WAIT_STORAGE_RECEIVED'
	</select>
	
	<!-- 查询待出库单 -->
  	<select id="findSendOrderWaits" resultType="ShipOrder">
		SELECT b.shop_name as "createUser.shopName", create_date as "createDate",
		a.id, a.centro_id as centroId, a.orderno
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='send' and a.status='WAIT_EXPRESS_RECEIVED'
	</select>
	
	<!-- 查询待用户签收出库单 -->
  	<select id="findSendOrderSignWaits" resultType="ShipOrder">
		SELECT b.shop_name as "createUser.shopName", create_date as "createDate",
		a.id, a.centro_id as centroId, a.orderno
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='send' and a.status='WAIT_BUYER_RECEIVED'
	</select>	
	
</mapper> 
